/*Proyecto 2*/
button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  transition: all 1s ease-in 30ms;
}

button:hover {
  background-color: green;
  color: yellow;
  width: 500px;
}

/*Proyecto 2*/
.proyecto-2 .container {
  width: 960px;
}

.proyecto-2 .move {
  margin: 2em;
  width: 150px;
  height: 50px;
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 0.5em;
  font-size: 20px;
  transition-property: translate();
  transition-duration: 3s;
  transition-delay: 1s;
}

#ease {
  transition-timing-function: ease;
}

#linear {
  transition-timing-function: linear;
}

#ease-in {
  transition-timing-function: ease-in;
}

#ease-out {
  transition-timing-function: ease-out;
}

#ease-in-out {
  transition-timing-function: ease-in-out;
}

.move:hover {
  transform: translate(900px, 0);
}
/*Transformaciones*/
.proyecto-3 {
  height: 150px;
  width: 150px;
  background-color: #40739e;
  color: white;
  line-height: 150px;
  text-align: center;
  font-size: 24px;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
  transition: transform 1s;
}
.scale:hover {
  transform: scale(1.2);
}

.translate:hover {
  transform: translateX(320px);
}

.rotate:hover {
  transform: rotate(180deg);
}

.skew:hover {
  transform: skew(20deg);
}

/*Proyecto 4*/
.Traslate img {
  width: 300px;
  display: block;
  margin-top: 50px;
  transition: transform 2s;
}

.Traslate img:hover {
  transform: translateX(-500px);
}
/*Proyecto 5*/
.Scale img {
  width: 300px;
  display: block;
  margin-top: 50px;
  transition: transform 2s;
}

.Scale img:hover {
  transform: scale(2);
}

/*Proyecto 6*/

.Rotate img {
  width: 300px;
  display: block;

  margin-top: 50px;
  transition: transform 2s;
}

.Rotate img:hover {
  transform: rotate(200grad);
}
/*Proyecto 7 */

.Skew img {
  width: 300px;
  display: block;

  margin-top: 50px;
  transition: transform 2s;
}

.Skew img:hover {
  transform: skew(20deg, 40deg);
}
/*Proyecto 8 */
img {
  width: 300px;
  display: block;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 70px;
  transition: transform 1s;
}

.second {
  transform-origin: top left;
  margin-bottom: 0;
}

.first:hover,
.second:hover {
  transform: rotate(30deg);
}

/*Proyecto 9 */

.keywords div {
  width: 150px;
  height: 150px;
  background-color: #27ae60;
  display: block;
  margin: auto;
  margin-bottom: 70px;
  color: white;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  line-height: 150px;
  transition: transform 1s;
}

.keywords div:hover {
  transform: rotate(45deg);
}
.keywords .top {
  transform-origin: top;
}

.keywords .right {
  transform-origin: right;
}

.keywords .left {
  transform-origin: left;
}

.keywords .bottom {
  transform-origin: bottom;
}

.keywords .top-right {
  transform-origin: top right;
}

.keywords .top-left {
  transform-origin: top left;
}

.keywords .bottom-right {
  transform-origin: bottom right;
}

.keywords .bottom-left {
  transform-origin: bottom left;
}
/*Proyecto 10 */
.transform-origin-htm div {
  width: 600px;
  height: 300px;
  background-color: #27ae60;
  display: block;
  margin: auto;
  margin-top: 150px;
  color: white;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  text-align: center;
  line-height: 300px;
  transition: transform 1s;
  transform-origin: 50% 50%;
}

.transform-origin-htm div:hover {
  transform: rotate(45deg);
}

.perpectiva {
  perspective: 10px;
}

.perpectiva img {
  width: 300px;
  display: block;
  margin: auto;
  margin-top: 200px;
  transition: transform 1s;
}

.perpectiva img:hover {
  transform: translateZ(800px);
}
